.about-container {
    /* border: 1px solid black; */
    max-width: 90%;
    margin-left: 4%;
    padding: 50px;

  }
  
  .left-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center; 
    /* border: 1px solid black; */
    padding: 50px;
  }
  
  .left {
    margin-right: 20px;
    /* border: 1px solid black; */
  }
  .left img{
    width: 250px;
    height: 250px;
    border-radius: 8px;
  }

  .right{
    /* border: 1px solid black; */
    padding: 30px ;
    width: 500px;
    line-height: 1.5rem;
  }
  
  @media only screen and (max-width: 768px) {
    .about-container{
        margin-left: -2%;
    }
    .left-right {
      flex-direction: column;
      justify-content: center; 
      align-items: center;
    }
  
    .left {
      margin-bottom: 10px;
      margin-right: 0; 
    }
    .right{
        max-width: 300px;
    }
    
  }
  
